{% extends "base2.html" %}
{% load i18n %}
{% block title %}
    Auction
{% endblock %}

{% block signin_user %}
    {% include 'navbar_signin.html' %}
{% endblock %}

{% block content %}
{% if error %}
<div class="alert alert-danger">
        <span class="glyphicon glyphicon-remove"></span>
        <strong> Error! {{ error }}</strong>
</div>
{% endif %}
    <h2>{% trans "Title" %}</h2>
    <p>{{ auction.title }}</p>

    <h2>{% trans "Description" %}</h2>
    <p>{{ auction.description }}</p>

    <h2>{% trans "State" %}</h2>
    <p>{{ auction.state }}</p>

    <h2>Deadline</h2>
    <p>{{ auction.deadline }}</p>

    <h2>Minimum price</h2>
    <p>{{ auction.minimum_price }}</p>

    <h2>Seller</h2>
    <p>{{ auction.seller.username }}</p>

    <h2>Last bid</h2>
    <p>{{ last_bid }}</p> <br>

    <a class="btn btn-lg btn-primary btn-block" href="/createbid/{{ auction.id }}"> Bid for this auction </a>
    <br>
{% endblock %}