{% extends "base2.html" %}
{% block content %}
   <strong>{{ msg }}</strong>

    {% for auction in auctions %}
            <h3>Auction title: {{ auction.title }}</h3> <br>
            <label for="id_desc"> Description </label>
            <textarea id="id_desc" readonly cols="30" rows="10">{{ auction.description }}</textarea> <br>
            <p> Seller: {{ auction.seller.username }}</p>
            <hr>
    {% endfor %}
    <br>
    <a href="/signin/"> Sign in </a> <br>
    <a href="/profile/"> My profile </a>
{% endblock %}