{% extends "base2.html" %}
{% load i18n %}
{% block title %}
    YAAS - Home
{% endblock %}

{% block signin_user %}
    {% include 'navbar_signin.html' %}
{% endblock %}

{% block content %}
    {% if msg %}
        <div class="alert alert-success">
            <span class="glyphicon glyphicon-ok"></span>
            <strong> {{ msg }}</strong>
        </div>
    {% endif %}

    {% if error %}
        <div class="alert alert-danger">
            <span class="glyphicon glyphicon-remove"></span>
            <strong> Error! {{ error }}</strong>
        </div>
    {% endif %}


    <table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>{% trans "Title" %}</th>
            <th>{% trans "Seller" %}</th>
            <th>{% trans "Deadline" %}</th>
            <th>{% trans "Minimum price" %}</th>
            <th>{% trans "Last bid" %}</th>
            <th>{% trans "State" %}</th>
        </tr>
    </thead>
    <tbody>

    {% for auction in auctions %}
        <tr>
            <td>{{ auction.id }}</td>
            <td><a href="/auction/{{ auction.id }}">{{ auction.title }}</a></td>
            <td>{{ auction.seller.username }}</td>
            <td>{{ auction.deadline }}</td>
            <td>{{ auction.minimum_price }}</td>
            <td>{{ auction.last_bid.price }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>




    <br>
{% endblock %}