{% extends "base2.html" %}
{% block title %}
    YAAS - Home
{% endblock %}

{% block signin_user %}
    {% include 'navbar_signin.html' %}
{% endblock %}

{% block content %}
    {% if msg %}
        <strong>{{ msg }}</strong>
    {% endif %}

    {% for auction in auctions %}
            <hr>
            <h3>Auction title: <a href="/auction/{{ auction.id }}">{{ auction.title }}</a></h3> <br>
            <label for="id_desc"> Description </label>
            <textarea id="id_desc" readonly cols="30" rows="10">{{ auction.description }}</textarea> <br>
            <p> Seller: {{ auction.seller.username }}</p>
    {% endfor %}
    <br>
{% endblock %}